<main class="container">
    <h2>Clientes</h2>
    <a routerLink="/clientes/novo" class="btn btn-primary">Novo</a> 
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>endereco</th>
                <th>celular</th>
                <th>id</th>
                <th>cpf</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let umCliente of listaClientes">
                <td>{{umCliente.nome}}</td>
                <td>{{umCliente.endereco}}</td>
                <td>{{umCliente.celular}}</td>
                <td>{{umCliente.id}}</td>
                <td>{{umCliente.cpf}}</td>
                <td><a (click)="alterar(umCliente)"
                    class="btn btn-secondary">Alterar</a> 
                            

                </td>
            </tr>
        </tbody>
    </table>
</main>